force-app/main/default/flows/Self_Service_Appointment_Booking.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ACTION_Get_Booking_Slots</name>
        <label>Get Booking Slots</label>
        <locationX>1811</locationX>
        <locationY>1046</locationY>
        <actionName>SelfServiceGetSlots</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>DECISION_Booking_Slots_Available</targetReference>
        </connector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>serviceAppointmentId</name>
            <value>
                <elementReference>VAR_ServiceAppointmentId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceTerritoryId</name>
            <value>
                <elementReference>GET_Service_Appointment.ServiceTerritoryId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>schedulingPolicyId</name>
            <value>
                <elementReference>GET_Scheduling_Policy.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operatingHoursId</name>
            <value>
                <elementReference>GET_Operating_Hours.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useExactAppointment</name>
            <value>
                <elementReference>VAR_UseExactAppointments</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Advanced: Always start a new transaction. This is to allow the callout for travel time calculations.</description>
        <name>ACTION_Schedule_Appointment</name>
        <label>Schedule Appointment</label>
        <locationX>2053</locationX>
        <locationY>1526</locationY>
        <actionName>SelfServiceScheduleAppointment</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>DECISION_Service_Appointment_Scheduled</targetReference>
        </connector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>serviceAppointmentId</name>
            <value>
                <elementReference>VAR_ServiceAppointmentId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>schedulingPolicyId</name>
            <value>
                <elementReference>GET_Scheduling_Policy.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ACTION_Update_Arrival_Window</name>
        <label>Update Arrival Window</label>
        <locationX>2053</locationX>
        <locationY>1406</locationY>
        <actionName>SelfServiceUpdateServiceAppointment</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ACTION_Schedule_Appointment</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>serviceAppointmentId</name>
            <value>
                <elementReference>VAR_ServiceAppointmentId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startTimeString</name>
            <value>
                <elementReference>CUSTOM_Display_Booking_Slots.startTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>endTimeString</name>
            <value>
                <elementReference>CUSTOM_Display_Booking_Slots.endTime</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>ASSIGN_Assign_Service_Appointment_Id</name>
        <label>Assign Service Appointment Id</label>
        <locationX>1028</locationX>
        <locationY>103</locationY>
        <assignmentItems>
            <assignToReference>VAR_ServiceAppointmentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FOR_RecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GET_Service_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Store_Original_Earliest_Start_Permitted_and_Due_Date</name>
        <label>Store Original Earliest Start Permitted and Due Date</label>
        <locationX>1644</locationX>
        <locationY>271</locationY>
        <assignmentItems>
            <assignToReference>VAR_OriginalEarliestStart</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_Service_Appointment.EarliestStartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_OriginalDueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_Service_Appointment.DueDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GET_Scheduling_Policy</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increase_Number_Of_Extensions</name>
        <label>Increase Number Of Extensions</label>
        <locationX>1950</locationX>
        <locationY>903</locationY>
        <assignmentItems>
            <assignToReference>VAR_NumberOfHorizonExtension</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ACTION_Get_Booking_Slots</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CHOICE_Debug_GetSlots</name>
        <choiceText>Debug</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Debug</stringValue>
        </value>
    </choices>
    <choices>
        <name>CHOICE_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>CHOICE_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>DECISION_Booking_Slot_Selected</name>
        <label>Booking Slot Selected?</label>
        <locationX>1603</locationX>
        <locationY>1268</locationY>
        <defaultConnector>
            <targetReference>ACTION_Update_Arrival_Window</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUTCOME_No_Booking_Slot_Selected</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>CUSTOM_Display_Booking_Slots.startTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CUSTOM_Display_Booking_Slots.endTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CHECK_Extend_search_for_available_time_slots</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCREEN_No_Booking_Slot_Selected</targetReference>
            </connector>
            <label>No Booking Slot Selected</label>
        </rules>
        <rules>
            <name>OUTCOME_Extend_Search</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CHECK_Extend_search_for_available_time_slots</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UPDATE_Update_Service_Appointment_Horizon</targetReference>
            </connector>
            <label>Extend Search</label>
        </rules>
    </decisions>
    <decisions>
        <name>DECISION_Booking_Slots_Available</name>
        <label>Booking Slots Available?</label>
        <locationX>2033</locationX>
        <locationY>1104</locationY>
        <defaultConnector>
            <targetReference>SCREEN_Select_Booking_Slot</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUTCOME_No_Booking_Slots_Available_Extension_Allowed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ACTION_Get_Booking_Slots.slots</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VAR_NumberOfHorizonExtension</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>VAR_MaxAllowedHorizonExtensions</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCREEN_No_Booking_Slots_Available</targetReference>
            </connector>
            <label>No Booking Slots Available - Extension Allowed</label>
        </rules>
        <rules>
            <name>OUTCOME_No_Booking_Slots_Found_No_More_Extensions_Allowed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ACTION_Get_Booking_Slots.slots</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VAR_NumberOfHorizonExtension</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>VAR_MaxAllowedHorizonExtensions</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UPDATE_Update_Service_Appointment_With_Original_Horizon</targetReference>
            </connector>
            <label>No Booking Slots Found - No More Extensions Allowed</label>
        </rules>
    </decisions>
    <decisions>
        <name>DECISION_Extend_Search_For_Booking_Slots</name>
        <label>Extend Search For Booking Slots?</label>
        <locationX>2306</locationX>
        <locationY>903</locationY>
        <defaultConnector>
            <targetReference>UPDATE_Update_Service_Appointment_Horizon</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUTCOME_Do_Not_Extend_Search_for_Booking_Slots</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RADIO_Would_you_like_to_extend_the_search</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CHOICE_No</elementReference>
                </rightValue>
            </conditions>
            <label>Do Not Extend Search for Booking Slots</label>
        </rules>
        <rules>
            <name>OUTCOME_Debug</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RADIO_Would_you_like_to_extend_the_search</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CHOICE_Debug_GetSlots</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCREEN_Debug_getSlots</targetReference>
            </connector>
            <label>Debug</label>
        </rules>
    </decisions>
    <decisions>
        <name>DECISION_Operating_Hours_Found</name>
        <label>Operating Hours Found?</label>
        <locationX>1423</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>SCREEN_Appointment_Booking</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUTCOME_Operating_Hours_NOT_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Operating_Hours</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Operating_Hours_Not_Found</targetReference>
            </connector>
            <label>Operating Hours NOT Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>DECISION_Scheduling_Policy_Found</name>
        <label>Scheduling Policy Found?</label>
        <locationX>1424</locationX>
        <locationY>441</locationY>
        <defaultConnector>
            <targetReference>GET_Operating_Hours</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUTCOME_Scheduling_Policy_NOT_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Scheduling_Policy</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCREEN_Scheduling_Policy_Not_Found</targetReference>
            </connector>
            <label>Scheduling Policy NOT Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>DECISION_Select_Different_Booking_Slot</name>
        <label>Select Different Booking Slot?</label>
        <locationX>1913</locationX>
        <locationY>1953</locationY>
        <defaultConnector>
            <targetReference>UPDATE_Clear_Service_Appointment_Arrival_Window</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUTCOME_Do_Not_Select_Different_Slot</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RADIO_Would_you_like_to_select_a_different_booking_slot</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CHOICE_No</elementReference>
                </rightValue>
            </conditions>
            <label>Do Not Select Different Slot</label>
        </rules>
    </decisions>
    <decisions>
        <name>DECISION_Service_Appointment_Found</name>
        <label>Service Appointment Found?</label>
        <locationX>1203</locationX>
        <locationY>273</locationY>
        <defaultConnector>
            <targetReference>DECISION_Service_Territory_On_Service_Appointment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUTCOME_Service_Appointment_NOT_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Service_Appointment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCREEN_Service_Appointment_Not_Found</targetReference>
            </connector>
            <label>Service Appointment NOT Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>DECISION_Service_Appointment_Scheduled</name>
        <label>Service Appointment Scheduled?</label>
        <locationX>2053</locationX>
        <locationY>1646</locationY>
        <defaultConnector>
            <targetReference>SCREEN_Service_Appointment_Scheduled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUTCOME_Service_Appointment_Not_Scheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ACTION_Schedule_Appointment.status</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCREEN_Service_Appointment_Not_Scheduled</targetReference>
            </connector>
            <label>Service Appointment Not Scheduled</label>
        </rules>
    </decisions>
    <decisions>
        <name>DECISION_Service_Territory_On_Service_Appointment</name>
        <label>Service Territory On Service Appointment?</label>
        <locationX>1425</locationX>
        <locationY>274</locationY>
        <defaultConnector>
            <targetReference>ASSIGN_Store_Original_Earliest_Start_Permitted_and_Due_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUTCOME_No_Service_Territory_On_Service_Appointment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Service_Appointment.ServiceTerritoryId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Service_Territory_On_Service_Appointment</targetReference>
            </connector>
            <label>No Service Territory On Service Appointment</label>
        </rules>
    </decisions>
    <decisions>
        <name>DECISION_Validate_Service_Territory_Members</name>
        <label>Validate Service Territory Members</label>
        <locationX>2567</locationX>
        <locationY>610</locationY>
        <defaultConnector>
            <targetReference>SCREEN_Debug_getSlots_Service_Territory_Members</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUTCOME_Service_Territory_Members_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Debug_Service_Territory_Members</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Service Territory Members Found</label>
        </rules>
    </decisions>
    <description>Flow to allow appointment booking in an Experience Site (Community). This flow needs to run in System Context Without Sharing - Access All Data.</description>
    <formulas>
        <name>FOR_DurationTypeLowerCase</name>
        <dataType>String</dataType>
        <expression>LOWER(TEXT({!GET_Service_Appointment.DurationType}))</expression>
    </formulas>
    <formulas>
        <name>FOR_ExtendedDueDate</name>
        <dataType>DateTime</dataType>
        <expression>{!GET_Service_Appointment.DueDate} + ( {!VAR_ExtendHorizonWithNumberOfDays} * {!VAR_NumberOfHorizonExtension} )</expression>
    </formulas>
    <formulas>
        <name>FOR_ExtendedEarliestStart</name>
        <dataType>DateTime</dataType>
        <expression>{!GET_Service_Appointment.EarliestStartTime} + ( {!VAR_ExtendHorizonWithNumberOfDays} * {!VAR_NumberOfHorizonExtension} )</expression>
    </formulas>
    <formulas>
        <name>FOR_RecordId</name>
        <dataType>String</dataType>
        <expression>IF(!ISBLANK({!recordId}), {!recordId}, {!VAR_ServiceAppointmentId})</expression>
    </formulas>
    <interviewLabel>Self Service Appointment Booking {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Self Service Appointment Booking</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GET_Debug_Service_Territory_Members</name>
        <label>Debug - Service Territory Members</label>
        <locationX>2578</locationX>
        <locationY>777</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DECISION_Validate_Service_Territory_Members</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>ServiceTerritoryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_Service_Appointment.ServiceTerritoryId</elementReference>
            </value>
        </filters>
        <filters>
            <field>EffectiveStartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>GET_Service_Appointment.EarliestStartTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>EffectiveEndDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>GET_Service_Appointment.EarliestStartTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>EffectiveEndDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceTerritoryMember</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ServiceResourceId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Operating_Hours</name>
        <label>GET Operating Hours</label>
        <locationX>1432</locationX>
        <locationY>663</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DECISION_Operating_Hours_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_OperatingHoursName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OperatingHours</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Scheduling_Policy</name>
        <label>GET Scheduling Policy</label>
        <locationX>1644</locationX>
        <locationY>439</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DECISION_Scheduling_Policy_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_SchedulingPolicyName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FSL__Scheduling_Policy__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Service_Appointment</name>
        <label>GET Service Appointment</label>
        <locationX>1211</locationX>
        <locationY>103</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DECISION_Service_Appointment_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ServiceTerritoryId</queriedFields>
        <queriedFields>DueDate</queriedFields>
        <queriedFields>EarliestStartTime</queriedFields>
        <queriedFields>Duration</queriedFields>
        <queriedFields>DurationType</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UPDATE_Clear_Service_Appointment_Arrival_Window</name>
        <label>Clear Service Appointment Arrival Window</label>
        <locationX>1680</locationX>
        <locationY>1903</locationY>
        <connector>
            <targetReference>ACTION_Get_Booking_Slots</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ArrivalWindowEndTime</field>
        </inputAssignments>
        <inputAssignments>
            <field>ArrivalWindowStartTime</field>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>UPDATE_Update_Service_Appointment_Horizon</name>
        <label>Update Service Appointment Horizon</label>
        <locationX>2099</locationX>
        <locationY>903</locationY>
        <connector>
            <targetReference>Increase_Number_Of_Extensions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DueDate</field>
            <value>
                <elementReference>FOR_ExtendedDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EarliestStartTime</field>
            <value>
                <elementReference>FOR_ExtendedEarliestStart</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>UPDATE_Update_Service_Appointment_With_Original_Horizon</name>
        <label>Update Service Appointment With Original Horizon</label>
        <locationX>2315</locationX>
        <locationY>1257</locationY>
        <connector>
            <targetReference>SCREEN_No_Availability</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DueDate</field>
            <value>
                <elementReference>VAR_OriginalDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EarliestStartTime</field>
            <value>
                <elementReference>VAR_OriginalEarliestStart</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>No_Service_Territory_On_Service_Appointment</name>
        <label>No Service Territory On Service Appointment</label>
        <locationX>1432</locationX>
        <locationY>64</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DISPLAY_No_Service_Territory_On_Service_Appointment</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;There seems to be a problem. &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please report the following issue:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Service Appointment with Id &quot;{!VAR_ServiceAppointmentId}&quot; does not have a Service Territory assigned!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Operating_Hours_Not_Found</name>
        <label>Operating Hours Not Found</label>
        <locationX>1162</locationX>
        <locationY>836</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DISPLAY_Operating_Hours_Not_Found</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;There seems to be a problem. &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please report the following issue:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Operating Hours &quot;{!VAR_OperatingHoursName}&quot; could not be found!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCREEN_Appointment_Booking</name>
        <label>Appointment Booking</label>
        <locationX>1630</locationX>
        <locationY>1046</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ACTION_Get_Booking_Slots</targetReference>
        </connector>
        <fields>
            <name>DISPLAY_Appointment_Booking</name>
            <fieldText>&lt;p&gt;In the next screen please select one of the available time slots and schedule the appointment. One of our technicians will arrive during the selected time slot.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;i&gt;Planned appointment duration:  {!GET_Service_Appointment.Duration} {!FOR_DurationTypeLowerCase}.&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCREEN_Debug_getSlots</name>
        <label>Debug getSlots</label>
        <locationX>2421</locationX>
        <locationY>777</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GET_Debug_Service_Territory_Members</targetReference>
        </connector>
        <fields>
            <name>DISPLAY_Debug_GetSlots</name>
            <fieldText>&lt;p&gt;You have selected to debug the ability to get available time slots for the service appointment. This will be done by running several queries and displaying the results. The following queries will be run:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;Service Territory Members - this will determine if the user is able to read the STM information of the territory on the appointment&lt;/li&gt;&lt;/ol&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCREEN_Debug_getSlots_Service_Territory_Members</name>
        <label>Debug getSlots - Service Territory Members</label>
        <locationX>2362</locationX>
        <locationY>606</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DISPLAY_Debug_No_STM</name>
            <fieldText>&lt;p&gt;No Service Territory Members for the Service Territory with Id &apos;{!GET_Service_Appointment.ServiceTerritoryId}&apos; could be found!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCREEN_No_Availability</name>
        <label>No Availability</label>
        <locationX>2452</locationX>
        <locationY>1257</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DISPLAY_No_Availability</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;There seems to be a problem. &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;There are no booking slots &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;available. Please contact our customer service to schedule an appointment.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCREEN_No_Booking_Slot_Selected</name>
        <label>No Booking Slot Selected</label>
        <locationX>1610</locationX>
        <locationY>1480</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DISPLAY_No_Booking_Slot_Selected</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;There seems to be a problem. &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please report the following issue:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;No available booking slot was selected!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCREEN_No_Booking_Slots_Available</name>
        <label>No Booking Slots Available</label>
        <locationX>2313</locationX>
        <locationY>1103</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DECISION_Extend_Search_For_Booking_Slots</targetReference>
        </connector>
        <fields>
            <name>DISPLAY_No_Booking_Slots_Available</name>
            <fieldText>&lt;p&gt;It seems there is no availability for this appointment. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RADIO_Would_you_like_to_extend_the_search</name>
            <choiceReferences>CHOICE_Yes</choiceReferences>
            <choiceReferences>CHOICE_No</choiceReferences>
            <choiceReferences>CHOICE_Debug_GetSlots</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>CHOICE_No</defaultSelectedChoiceReference>
            <fieldText>Would you like to extend the search?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCREEN_Scheduling_Policy_Not_Found</name>
        <label>Scheduling Policy Not Found</label>
        <locationX>1141</locationX>
        <locationY>437</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DISPLAY_Scheduling_Policy_Not_Found</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;There seems to be a problem. &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please report the following issue:&lt;/p&gt;&lt;p&gt;&lt;br/&gt;&lt;/p&gt;&lt;p&gt;Scheduling Policy &quot;{!VAR_SchedulingPolicyName}&quot; could not be found!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCREEN_Select_Booking_Slot</name>
        <label>Select Booking Slot</label>
        <locationX>1811</locationX>
        <locationY>1166</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DECISION_Booking_Slot_Selected</targetReference>
        </connector>
        <fields>
            <name>DISPLAY_Select_Booking_Slot</name>
            <fieldText>&lt;p&gt;&lt;i style=&quot;font-size: 14px;&quot;&gt;Please select a time slot and click &quot;Next&quot; to schedule the appointment.&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SCREEN_Select_Booking_Slot_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SCREEN_Select_Booking_Slot_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CUSTOM_Display_Booking_Slots</name>
                    <extensionName>c:selfServiceShowBookingSlots</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>error</name>
                        <value>
                            <elementReference>ACTION_Get_Booking_Slots.error</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>slots</name>
                        <value>
                            <elementReference>ACTION_Get_Booking_Slots.slots</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showNumberOfDays</name>
                        <value>
                            <elementReference>VAR_ShowNumberOfDays</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>timezoneId</name>
                        <value>
                            <elementReference>ACTION_Get_Booking_Slots.timeZoneId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>timezoneName</name>
                        <value>
                            <elementReference>ACTION_Get_Booking_Slots.timeZoneName</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CHECK_Extend_search_for_available_time_slots</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Extend search for available time slots</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCREEN_Service_Appointment_Not_Found</name>
        <label>Service Appointment Not Found</label>
        <locationX>945</locationX>
        <locationY>271</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DISPLAY_Service_Appointment_Not_Found</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;There seems to be a problem. &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please report the following issue:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Service Appointment with Id &quot;{!VAR_ServiceAppointmentId}&quot; could not be found!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCREEN_Service_Appointment_Not_Scheduled</name>
        <label>Service Appointment Not Scheduled</label>
        <locationX>1921</locationX>
        <locationY>1766</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DECISION_Select_Different_Booking_Slot</targetReference>
        </connector>
        <fields>
            <name>DISPLAY_Service_Appointment_Not_Scheduled</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;There seems to be a problem.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your appointment could not be scheduled at the selected booking slot!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RADIO_Would_you_like_to_select_a_different_booking_slot</name>
            <choiceReferences>CHOICE_Yes</choiceReferences>
            <choiceReferences>CHOICE_No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Would you like to select a different booking slot?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCREEN_Service_Appointment_Scheduled</name>
        <label>Service Appointment Scheduled</label>
        <locationX>2185</locationX>
        <locationY>1766</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DISPLAY_Service_Appointment_Scheduled</name>
            <fieldText>&lt;p&gt;Your appointment has been scheduled.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Our technician will arrive between {!ACTION_Schedule_Appointment.arrWinStart} and {!ACTION_Schedule_Appointment.arrWinEnd}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>ASSIGN_Assign_Service_Appointment_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_ExtendHorizonWithNumberOfDays</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>7.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VAR_MaxAllowedHorizonExtensions</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VAR_NumberOfHorizonExtension</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VAR_OperatingHoursName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Gold Appointments Calendar</stringValue>
        </value>
    </variables>
    <variables>
        <name>VAR_OriginalDueDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_OriginalEarliestStart</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_SchedulingPolicyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Customer First</stringValue>
        </value>
    </variables>
    <variables>
        <name>VAR_ServiceAppointmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_ShowNumberOfDays</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>7.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VAR_UseExactAppointments</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
